body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.introduce, .author{
  text-align: center;
}
.container{
  max-width: 1240px;
  margin: 0 auto;
}
.editorText{
  width:100%;
  border: 1px solid #ddd;
}
.editor{
  min-height:300px;
}